// @background-color: rgb(40, 44, 52);
@background-color: rgb(48, 48, 48);
@import './modules/log-viewer';
@import '../../node_modules/sweetalert/dist/sweetalert.css';
body {
  font-family: 'Roboto', sans-serif !important;
  h1.page-title {
    display:inline-block;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 100;
  }
}
