body {
  background-color: rgb(40, 44, 52) !important;
  color: #abb2bf;
  // color:#fff;

  .mqtt-log-item {
    font-family: monospace;
    .timestamp {
       white-space: nowrap;
     }
     .topic {
        font-size: 1.2em;
     }
     .message{
       width: 100%;
       font-family: monospace;
       color: #fff;

     }
  }
}
